#navbar{
    background-color: white;
    height: 70px;
}


#nav-head{
    font-size: 3rem;
    font-weight: bold;
}

.carousel-item{
    height: 870px;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0.5;
}

#slider-text h5{
    font-size: 4rem;
  color: black;
    margin-bottom: 7rem;
    font-weight: bold;
}


#slider-text p{
    font-size: 2rem;
    margin-bottom: 16rem;
    color: black;
    

}

h1{
    
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    font-size: 40%;

}

span{
color: #8db051;
}


.img-cont{
    width: 50%;
}
.img-cont img{
    width: 100%;
    padding: 2rem 2rem;
}
.text-cont{
    width: 40%;
    font-size: 20px;
    padding: 6rem 2rem;
}
.text-cont h3{
    font-size: 35px;
}




#card-text h5{
    /* font-size: 25rem; */
    font-weight: bold;
}

#row5{
    margin: 2rem 2rem;
}
#btn{

 background-color: #8db051;
 border-color: white;

}

